name: Typo Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  typos:
    name: Check for typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for typos
        uses: crate-ci/typos@master
